@use '../config/breakpoints' as bp;
@use '../config/variables' as var;
@use '../config/functions' as func;
@use '../config/mixins' as mixin;

//========================================================================================================================================================

//<FORM>
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input::-webkit-passman-key {
	display: none;
	width: 0;
}

textarea {
	min-height: 200px;
	resize: vertical;

	&::-webkit-scrollbar {
		display: none;
	}
}

// Снипет (HTML):

.form {
	display: grid;
	gap: 30px;

	// .form__line

	&__line {
		position: relative;
		display: grid;
		grid-template-columns: 120px 1fr;
		gap: 25px;
		align-items: center;

		@media (max-width:bp.$md) {
			grid-template-columns: 1fr;
			gap: 15px;
		}

		&:has(textarea) {
			align-items: start;
		}
	}

	// .form__label

	&__label {
		font-weight: 600;
		font-size: 20px;
		color: #fff;
		font-family: var(--font-family);
	}

	// .form__input

	&__input {
		outline: none;
		background: transparent;
		border: 2px solid #fff;
		border-radius: 30px;
		padding: func.rem(17) func.rem(20);
		width: 100%;
		font-weight: 400;
		font-size: 16px;
		color: #fff;
	}

	// .form__viewpass

	&__viewpass {
		width: 25px;
		height: 23px;
		background: url(../img/icons/icon_pass.svg);
		position: absolute;
		right: 40px;
		top: 12px;
		cursor: pointer;
		opacity: 0;

		&._viewpass-active {
			background: url(../img/icons/icon_pass-active.svg);
		}

		._form-focus & {
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}
	}

	// .form__button

	&__button {
		margin-top: func.rem(20);
		justify-self: end;
		border-radius: 100px;
		padding: 20px 30px;
		background: #273583;
		font-weight: 500;
		font-size: 18px;
		text-transform: uppercase;
		color: #fff;
		width: 150px;
		height: 65px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background: #000;
			}
		}
	}
}